[submodule "CVE-2024-28397"]
	path = CVE-2024-28397
	url = https://github.com/Marven11/CVE-2024-28397-js2py-Sandbox-Escape.git
[submodule "CVE-2024-28397-js2py-Sandbox-Escape"]
	path = CVE-2024-28397-js2py-Sandbox-Escape
	url = https://github.com/Marven11/CVE-2024-28397-js2py-Sandbox-Escape.git
